
<div class="container-fluid d-flex justify-content-center  align-items-center ja flex-column">
  <h1>
    Iniciar sesión como:
  </h1>
  <%= button_to('Pasajero',new_passenger_session_path, :method =>:get,
    :class => "btn btn-primary btn-lg")%>

  <%= button_to('Conductor',new_driver_session_path, :method =>:get,
    :class => "btn btn-primary btn-lg")%>
</div>
