<h1 class="col-md-offset-3 font-large-3 white">
  Iniciar sesión como:
</h1>

<li class="col-md-offset-4 font-large white">
    <%= button_to('Pasajero',new_passenger_session_path, :method =>:get, :class => "btn")  %>
</li>

<li class="col-md-offset-4 font-large white">
    <%= button_to('Conductor',new_driver_session_path, :method =>:get, :class => "btn ")  %>
</li>
