<h1 class="col-md-offset-3 font-large">
  Te podes registrar como conductor o pasajero
</h1>

<li class="col-md-offset-3 font-large">
    <%= button_to('Pasajero',new_passenger_registration_path, :method =>:get)  %>
</li>

<li class="col-md-offset-3 font-large">
    <%= button_to('Conductor',new_driver_registration_path, :method =>:get)  %>
</li>
