
<div class="container-fluid d-flex justify-content-center  align-items-center regist flex-column">
  <h2>
    Te podes registrar como conductor o pasajero.
  </h2>
  <%= button_to('Pasajero',new_passenger_registration_path, :method =>:get,
     :class => "btn btn-primary btn-lg mt-5")  %>
  <%= button_to('Conductor',new_driver_registration_path, :method =>:get,
    :class => "btn btn-primary btn-lg mt-5")  %>
</div>
