
<body>
  <h1 class=" col-md center-xs font-x-large white "> CordobaRemis</h1>
  <p class=" col-md center-xs font-large-2 white">
    Viajar nunca fue tan sensillo, tu destino a solo algunos clicks.
  </p>
</body>
