<div class="container-fluid d-flex justify-content-center  align-items-center ja flex-column">
  <h1 class="display-1 "> CordobaRemis!</h1>
  <p class="h3"> Viajar nunca fue tan sensillo, tu destino a solo algunos clicks.</p>
</div>
