<%= form_tag("selectedTrip", method: "post") do %>

<table class="rwd-table center-xs middle-xs">
    <tr>
      <th>Driver</th>
      <th>Costo</th>
      <th>Opiniones</th>
      <th></th>
    </tr>

      <% @allTrips.each do |driver, trip| %>
        <tr>
          <td>
            <%= trip.driver_id[:name] %>
          </td>
          <td>
            jaja
          </td>
          <td>
            <%= radio_button_tag('driver', driver ) %>
          </td>
        </tr>

      <% end %>

<% end %>
</table>

<%= submit_tag "seleccionar", class: 'btn' %>
