
<div class="container-fluid d-flex justify-content-center  align-items-center ja flex-column">


  <%= form_tag("create", method: "post") do %>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Origen</th>
        <th class="mdl-data-table__cell--non-numeric">Destino</th>
      </tr>
      <tr>
        <td>
          <%= select_tag(:origin,  options_for_select(@locations.collect{ |u| [u.name, u.id] })) %>
        </td>
        <td>
          <%= select_tag(:destination,  options_for_select(@locations.collect{ |u| [u.name, u.id] })) %>
        </td>
        <td>
          <%= submit_tag "Pedir" %>
        </td>
      </tr>
    </table>
  <% end %>

</div>
