
<div class="container-fluid d-flex justify-content-center  align-items-center regist flex-column">

  <%= form_tag("create", method: "post") do %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Origen</th>
          <th scope="col">Destino</th>
        </tr>
      </thead>
      <tbody>
      <tr scope="row">
        <td>
          <%= select_tag(:origin, options_for_select(@locations.collect{ |u| [u.name, u.id] }),class: "btn btn-outline-primary") %>
        </td>
        <td scope="row">
          <%= select_tag(:destination, options_for_select(@locations.collect{ |u| [u.name, u.id] }),class: "btn btn-outline-primary") %>
        </td>
      </tr>
    </tbody>
    </table>
    <div class="container d-flex justify-content-center  align-items-cente">
      <%= submit_tag "Pedir viaje",class: "btn btn-outline-primary btn-lg" %>
    </div>
  <% end %>

</div>
