html,body{
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;

}


a:visited{
  color: inherit !important;
}

.no-margin{
  margin: 0px;
}
.be-white{
  background-color: rgba(233,237,242,.82);
}

.font-large {
  font-size: large;
}

.font-large-3 {
  font-size: 150%;
}

.font-large-2 {
  font-size: 200%;
}

.font-x-large {
  font-size: 500%;
}

.black{
  color:black
}

.white{
  color: white;
}
.large-padding {
  padding: 11px 8px;
}


.btn {
  background: #357699;
  background-image: -webkit-linear-gradient(top, #357699, #344047);
  background-image: -moz-linear-gradient(top, #357699, #344047);
  background-image: -ms-linear-gradient(top, #357699, #344047);
  background-image: -o-linear-gradient(top, #357699, #344047);
  background-image: linear-gradient(to bottom, #357699, #344047);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 2px 2px #292926;
  -moz-box-shadow: 1px 2px 2px #292926;
  box-shadow: 1px 2px 2px #292926;
  font-family: Arial;
  color: #e6e6d8;
  font-size: 17px;
  padding: 6px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #3b728f;
  background-image: -webkit-linear-gradient(top, #3b728f, #4d5b63);
  background-image: -moz-linear-gradient(top, #3b728f, #4d5b63);
  background-image: -ms-linear-gradient(top, #3b728f, #4d5b63);
  background-image: -o-linear-gradient(top, #3b728f, #4d5b63);
  background-image: linear-gradient(to bottom, #3b728f, #4d5b63);
  text-decoration: none;
}
