html,body{
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
}
a:visited{
  color: inherit !important;
}

.no-margin{
  margin: 0px;
}
.be-blue{
  background-color: rgba(1,77,194,.82);
}

.font-large {
  font-size: large;
}

.font-x-large {
  font-size: 500%;
}

.white{
  color: white;
}
.large-padding {
  padding: 11px 8px;
}
